seg2tunnel/
seg2tunnel_0.04/
seg2tunnel_0.04_sparse_data/

seg2tunnel_fake/
seg2tunnel_fake_0.04/

seg2tunnel_pointcept_0.04/

seg2tunnel_dublin/
seg2tunnel_dublin_0/
seg2tunnel_wuxi/
seg2tunnel_wuxi_0.04/

seg2tunnel_pw/
seg2tunnel_pw_0.04/

*.rar
*.zip